---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import me from "assets/cropped.jpg";
import { Picture } from "astro:assets";
import Button from "@components/ui/icon-button.astro";

export const LINKS = {
  github: "https://github.com/Fuzzyma",
  github2: "https://github.com/svgdotjs",
  linkedin:
    "https://www.linkedin.com/in/ulrich-matthias-sch%C3%A4fer-a1a701176/",
  twitter: "https://x.com/saulmurf",
};
---

<Layout title="About Me">
  <Container class:list={["!max-w-screen-lg"]}>
    <Sectionhead>
      <Fragment slot="title">About Me</Fragment>
      <Fragment slot="desc">My Lifestory</Fragment>
    </Sectionhead>

    <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-10 py-10">
      <div
        class="flex md:flex-col items-center justify-center md:justify-start md:gap-6 gap-5 sm:gap-12">
        <div class="max-w-72 max-h-72 rounded-full overflow-hidden">
          <Picture
            src={me}
            alt="A chiby of myself"
            widths={[200, 400, 600]}
            sizes="(max-width: 288px) 100vw"
            loading="eager"
            format="webp"
          />
        </div>

        <div
          class="flex md:flex-col flex-col-reverse items-center justify-center md:justify-start gap-3 md:gap-12">
          <div class="text-gray-700 gap-1 flex-wrap flex -ml-1">
            <a href={LINKS.github} aria-label="github profile" target="_blank">
              <Button aria-label="github profile">
                <Icon name="ri:github-fill" class="h-6 w-6" />
                <span class="sr-only">GitHub Profil</span>
              </Button>
            </a>
            <a
              href={LINKS.linkedin}
              aria-label="linkedin profile"
              target="_blank">
              <Button aria-label="linkedin profile">
                <Icon name="ri:linkedin-box-fill" class="h-6 w-6" />
                <span class="sr-only">Linkedin Profil</span>
              </Button>
            </a>
            <a
              href={LINKS.github2}
              aria-label="dribble profile"
              target="_blank">
              <Button aria-label="dribble profile">
                <Icon name="svgjs" class="h-6 w-6" />
                <span class="sr-only">SVG.JS Github Profil</span>
              </Button>
            </a>
            <a
              href={LINKS.twitter}
              aria-label="twitter profile"
              target="_blank">
              <Button aria-label="twitter profile">
                <Icon name="ri:twitter-fill" class="h-6 w-6" />
                <span class="sr-only">Twitter Profil</span>
              </Button>
            </a>
          </div>

          <div class="text-gray-700">
            <p class="my-2 hidden md:block">A list of things I like.</p>
            <ul
              class="text-sm block [&>li]:flex [&>li]:gap-2 [&>li]:items-center columns-2">
              <li><Icon name="skill-icons:vuejs-light" />Vue</li>
              <li><Icon name="skill-icons:nuxtjs-light" />Nuxt</li>
              <li><Icon name="skill-icons:typescript" />Typescript</li>
              <li><Icon name="skill-icons:astro" />Astro</li>
              <li><Icon name="skill-icons:vite-light" />Vite</li>
              <li><Icon name="skill-icons:php-light" />PHP</li>
              <li class="!hidden sm:!flex">
                <Icon name="skill-icons:nodejs-light" />Nodejs
              </li>
              <li><Icon name="skill-icons:laravel-light" />Laravel</li>
              <li class="!hidden sm:!flex">
                <Icon name="skill-icons:postgresql-light" />PostgreSQL
              </li>
              <li><Icon name="skill-icons:tailwindcss-light" />Tailwind</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-center">
        <h2 class="text-3xl font-semibold text-gray-800">Who Am I?</h2>
        <p class="text-gray-700 mt-4">
          Hey, I’m Ulrich-Matthias from Germany! I’ve always been the kind of
          developer who enjoys getting into the nitty-gritty of things. Whether
          it’s optimizing performance or refactoring old code, I’m drawn to
          solving those kinds of challenges.
        </p>
        <p class="text-gray-700 mt-4">
          My journey with web development started over a decade ago, and
          throughout the years, I’ve worked on tons of projects. One of the
          biggest pain points I noticed? Migrating legacy codebases. That's what
          led to <span class="font-bold">Migrate Vue</span>.
        </p>

        <h2 class="text-3xl font-semibold text-gray-800 mt-8">
          How Migrate Vue Came to Life
        </h2>
        <p class="text-gray-700 mt-4">
          The idea for Migrate Vue came to me while working on a large-scale Vue
          2 to Vue 3 migration for a client. I realized how tricky and
          time-consuming it could be to make the jump, especially for projects
          that have been around for a while. I wanted to create something that
          makes it less scary and more predictable.
        </p>
        <p class="text-gray-700 mt-4">
          Now, with Migrate Vue, I share the lessons I’ve learned and offer a
          service to guide or execute migrations on your project.
        </p>

        <h2 class="text-3xl font-semibold text-gray-800 mt-8">Why Me?</h2>
        <p class="text-gray-700 mt-4">
          With over a decade of experience in web development, I’ve worked on
          everything from small startups to complex projects. My in-depth
          understanding of Vue, TypeScript, and modern web technologies makes me
          well-equipped to handle migrations.
        </p>

        <p class="text-gray-700 mt-4">
          Having led a few Vue 2 to Vue 3 transitions, I’ve encountered and
          solved various challenges that come with modernizing codebases. My
          focus is not just on executing migrations, but doing so in a way that
          enables shipping features and ensures future maintainability.
        </p>
      </div>
    </div>
  </Container>
</Layout>
